.loadingBackground {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-image: var(--bg-image);
}

.loadingImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
